.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.p-1{
    padding: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 15px;
}